.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* src/App.css */
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
}

.container {
  width: 100%;
  max-width: 600px;
}

.card {
  background-color: #ccc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.buttons {
  margin-bottom: 20px;
}

button {
  background-color: #ccc;
  color: #333;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-weight: normal; /* Set default font weight */
}

button:hover {
  background-color: #ddd;
}

button.active {
  text-decoration: underline;
  text-decoration-color: red;
  font-weight: bold; /* Set font weight for the active button */
}

.content {
  max-width: 100%;
  overflow-wrap: break-word;
}
.footer {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.footer a {
  color: #000; /* Black color for all links */
  text-decoration: underline;
  font-weight: bold;
}

.footer a::after {
  content: '. '; /* Add a full stop and space after each link */
}

.footer a:hover,
.footer a.active {
  color: rgb(24, 23, 23); /* Red for active link on hover or by default */
}
 .black-link {
    color: #a12914;
   font-weight: 'bold';
     text-decoration: none;
      transition: color 0.3s ease; /* Adding a smooth transition effect */
      
  }
  .black-link:hover {
    color: gray; /* Change the color to your desired hover effect */
  }

 .profile {
  color: #000; /* Black color for all links */
   text-decoration: none;
  font-weight: bold;
  /* fontWeight: 'bold' */
}
.linkstyle{
  color: #225d72;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: large;
}
.inline{
  color: #225d72;
  font-weight: bold;
}